ion-toolbar {
  --background: var(--primary-color);
  --border-width: 0px !important;
}
ion-img.home-logo {
  width: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 5px;
  background-color: var(--secondary-color);
}

ion-img.cart-logo {
  width: 37px;
  margin-top: 5px;
}

ion-searchbar::ng-deep .searchbar-input {
  color: var(--theme-color);
  background: var(--secondary-color);
  font-size: 14px;
  border-radius: 0px;
}

.sc-ion-searchbar-ios-h {
  padding: 0px;
  min-height: 0px;
  margin-top: 12px;
  border: 1px solid var(--theme-color);
  margin-left: 3px;
  width: 365px;
  border-radius: 20px;
}
.heading-title {
  font-size: 26px;
}
.cart-count {
  position: absolute;
  right: 3px;
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  color: var(--theme-color);
  font-weight: 700;
}

