.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: unset;
  flex-direction: column;
  background: linear-gradient(
    158deg,
    var(--primary-color) 0%,
    var(--secondary-color) 50%
  );

  .input-box {
    margin: 25px 0px;
  }
}
