<div class="login-page">
  <div class="login-tab">
    <div class="text-center">
      <ion-img src="../../../../assets/images/logo.png" alt="logo"/>
    </div>
    @for (detail of inputDetails; track detail) {
    <div class="mt-3">
      <app-input [inputDetails]="detail" (InputEvent)="inputData($event)"></app-input>
    </div>
    }
    <div class="text-end">
      <a href="#" class="text-12"> Forgot Password </a>
    </div>
    <div class="mt-4">
      <app-button [buttonDetail]="buttonDetail" (buttonEvent)="login($event)"></app-button>
    </div>
 
    <div class="my-3 text-center theme-text text-14 fw-bold">OR</div>

    <app-button [buttonDetail]="loginButton" (buttonEvent)="googleSignIn($event)"></app-button>
  </div>
</div>
