:root {
    --theme-color: #616161;
    --primary-color: #009688;
    --secondary-color: #F5F5DC;
    --text-color: #FFFFFF;
    --default-text-size: 14px;
    --normal-text-size: 15px;
    --important-text-size: 18px;
}
