:root {
  --theme-color: #616161;
  --primary-color: #009688;
  --secondary-color: #f5f5dc;
  --primary-text-color: #ffffff;
  --input-background: rgb(255 255 255 / 44%);
  --background: #f8f9fa;
}
.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.theme-text {
  color: var(--theme-color);
}

.text-color {
  color: var(--secondary-color);
}

.text-success {
  color: #28a745;
}

.text-error {
  color: #dc3545;
}
.text-warning {
  color: #ffc107;
}
.success-toast {
  color: #28a745;
}

.error-toast {
  color: #dc3545;
}

.warning-toast {
  color: #ffc107;
}
