.cart-images {
  width: 110px;
  height: 160px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--secondary-color);
  margin: 10px;
}
ion-img.cart {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  margin-top: 10px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-flow: wrap;
  margin: 5px 0px;
}
